.navbar-main {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    height: clamp(50px, 5vh, 5%);
    overflow: hidden;
    position: sticky;
    top: 0;
}

.navbar-content {
    display: inline;
    padding: 2% 8%;
    transition: 400ms ease-in-out 30ms;
}

.active {
    color: crimson;
    background-color: darkblue;
    font-size: 120%;
}


.bordered {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

@media (hover: hover) {
    .active:hover {
        color: white;
    }

    .navbar-content:hover {
        color: white;
        background-color: blue;
        padding: 2% 10%;
        font-size: 120%;
        transition: 250ms ease-in-out 20ms;
    }
}

@media (hover: none) {
    .navbar-content:hover {
        color: white;
        background-color: blue;
        transition: 250ms ease-in-out 20ms;
    }
    
    .active:hover {
        color: crimson;
        background-color: darkblue;
        transition: 250ms ease-in-out 20ms;
    }

}